// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

@font-face {
   font-family: 'Gilroy-UltraLight';
   src: font-url('gilroy/gilroy-ultralight.ttf') format('ttf');
   font-weight: 200;
}

@font-face {
   font-family: 'Gilroy-Light';
   src: font-url('gilroy/gilroy-light.ttf') format('ttf');
   font-weight: 300;
}

@font-face {
   font-family: 'Gilroy-Regular';
   src: font-url('gilroy/gilroy-regular.ttf') format('ttf');
   font-weight: 400;
}

@font-face {
   font-family: 'Gilroy-Medium';
   src: font-url('gilroy/gilroy-medium.ttf') format('ttf');
   font-weight: 500;
}

@font-face {
   font-family: 'Gilroy-Bold';
   src: font-url('gilroy/gilroy-bold.ttf') format('ttf');
   font-weight: 700;
}

@font-face {
   font-family: 'Gilroy-ExtraBold';
   src: font-url('gilroy/gilroy-extrabold.otf') format('otf');
   font-weight: 900;
}

$body-font: "Gilroy-Regular", "Helvetica", "sans-serif";
$headers-font: "Gilroy-ExtraBold", "Helvetica", "sans-serif";

// FONT WEIGHTS

.ultra-light {
  font-family: "Gilroy-UltraLight", "Helvetica", "sans-serif" !important;
}

.light {
  font-family: "Gilroy-Light", "Helvetica", "sans-serif" !important;
}

.regular {
  font-family: "Gilroy-Regular", "Helvetica", "sans-serif" !important;
}

.medium {
  font-family: "Gilroy-Medium", "Helvetica", "sans-serif" !important;
}

.bold {
  font-family: "Gilroy-Bold", "Helvetica", "sans-serif" !important;
}

.extra-bold {
  font-family: "Gilroy-ExtraBold", "Helvetica", "sans-serif" !important;
}

h1 {
  font-family: 'Gilroy-ExtraBold' !important;
}

h2, h3, h4, h5, h6, a {
  font-family: 'Gilroy-Bold' !important;
}

p, li {
  font-family: 'Gilroy-Medium' !important;
  @include for-small-devices-down {
    font-size: 14px;
  }
}
