// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

@font-face {
   font-family: 'Gilroy';
   src: font-url('gilroy/gilroy-ultralight.ttf') format('ttf');
   font-weight: 200;
}

@font-face {
   font-family: 'Gilroy';
   src: font-url('gilroy/gilroy-light.ttf') format('ttf');
   font-weight: 300;
}

@font-face {
   font-family: 'Gilroy';
   src: font-url('gilroy/gilroy-regular.ttf') format('ttf');
   font-weight: 400;
}

@font-face {
   font-family: 'Gilroy';
   src: font-url('gilroy/gilroy-medium.ttf') format('ttf');
   font-weight: 500;
}

@font-face {
   font-family: 'Gilroy';
   src: font-url('gilroy/gilroy-bold.ttf') format('ttf');
   font-weight: 700;
}

@font-face {
   font-family: 'Gilroy';
   src: font-url('gilroy/gilroy-extrabold.otf') format('otf');
   font-weight: 900;
}

$body-font: "Gilroy", "Helvetica", "sans-serif";
$headers-font: "Gilroy", "Helvetica", "sans-serif";

p {
  @include for-small-devices-down {
    font-size: 14px;
  }
}
