.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contact_details {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  position: relative;
  z-index: 2;

  @include for-medium-devices-down {
    flex-direction: column;
  }
}

.contact-us-flex {
  @include for-small-devices-down {
    flex-direction: column;
  }
}

.ctu-mobile-img {
  width: 100%;
  @include for-medium-devices-down {
    width: 70%;
  }
  @include for-small-devices-down {
    width: 30%;
    margin: auto;
  }
  @include for-phone-only {
    width: 50%;
  }
}

.contact-stars {
  width: 160px;
  margin: 0 auto;
}

.contact-form {
  width: 100%;
  // background-color: red;
  display: flex;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  & input {
    width: 100%;
    height: 44px;
    border: 0;
    border-radius: 6px;
    padding: 10px 20px;
    color: #7C828F;
    background: #F3F3F3;
    font-size: 14px;
    margin: 20px 0 0 0;

    &:focus, :active {
      outline: none;
      border: 0;
    }
  }

  & textarea {
    margin: 20px 0 0 0;
    border: 0;
    width: 100%;
    border-radius: 6px;
    padding: 10px 20px;
    color: #7C828F;
    background: #F3F3F3;
    font-size: 14px;

    &:focus, :active {
      outline: 0;
      border: none;
      border-radius: 5px;
    }
  }

  & input[type=submit] {
    background: linear-gradient(to right, #D9342F 26%, #F7D877);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 12px 22px;
    border: none;
    font-size: 12px !important;
    font-weight: bold !important;
    cursor: pointer;
    width: unset;
    &:hover {
      text-decoration: none;
      color: #1B1B1B;
    }
  }

}

.contact-text {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5%;

  @include for-medium-devices-down {

  }
}

.contact-text-one {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 20px 0;

  & p {
    padding-left: 10px;
    margin-bottom: 0;
    color: #7C828F;
    font-weight: 300;
  }

  @include for-medium-devices-down {
    flex-direction: column;
    text-align: center;

    & p {
      padding-top: 20px;
    }
  }
}

.fs-frm-inputs {
  width: 100%;
}

.whatsapp-btn {
  border: 1px solid $light-gray;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  align-items: center;
  display: inline-flex;
  margin-top: 24px;
  padding: 12px;
  i {
    font-size: 24px;
    color: #FFFFFF;
  }
  &:hover {
    background-color: #23a503;
    text-decoration: none;
  }
}
