// Specific CSS for your home-page
.home {
  overflow: hidden;
}

.product-carousel {
  max-width: 800px;
  width: 72%;
  margin-top: -28px;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  .carousel-item {
    padding: 60px;
  }
  @include for-medium-devices-down {
    width: 85%;
    margin-top: 60px;
  }
  @include for-small-devices-down {
    width: 100%;
    max-width: unset;
    margin-top: 0;
  }
}

.carousel-indicators {
  position: relative;
  li {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    opacity: 1;
    background-image: linear-gradient(to bottom right, #B1B6C8 10%, #FFFFFF);
    margin-left: 6px;
    margin-right: 6px;
  }
}

.carousel-indicators .active {
  background-image: linear-gradient(to bottom right, $orange, $orange) !important;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  color: #000000;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  background: linear-gradient(to bottom right, #FFFFFF, #E5E7EC);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #111111;
  }
  &:active {
    color: #111111;
  }
  &:focus {
    color: #111111;
  }
}

.carousel-controls {
  position: absolute;
  width: 170px;
  left: calc(50% - 85px);
  bottom: -56px;
}

.first-section {
  min-height: calc(100vh - 176px);
  background: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  padding: 50px 50px 150px;

  @include for-medium-devices-down {
    flex-direction: column;
    justify-content: center;
    padding: 100px 16px 150px;
  }

  @include for-phone-only {
    padding: 50px 16px 150px;
  }

  @include for-xsmall-phone-only {
    // height: 110vh;
    justify-content: flex-start;
  }
}

.home-title-description {
  width: 76%;
  @include for-phone-only {
    width: 100%;
  }
}

.first-section-image {
  position: relative;
  z-index: 5;
  width: 100%;
}

.ul {
  margin-bottom: 0px !important;
}
.print-on-everything {
  @include for-medium-devices-down {
    padding-top: 30px;
  }
}

.first-section-svg {
  position: absolute;
  // right: -250px;
  // top: -300px;
  z-index: 0;
  width: 80vw;
  right: -50vw;
  top: -17vw;
  // width: 900px;
  // height: auto;
  @include for-medium-devices-down {
    opacity: 0.5;
  }
  @include for-medium-devices-up {
    width: 60vw;
    right: -13vw;
    top: -18vw;
  }

  @include for-large-devices-up {
    width: 60vw;
    right: -13vw;
    top: -18vw;
  }

}

.animated {
  position: relative;
  height: 20px;
}

.animated-span {
  position: absolute;
  color: $orange;
  padding-bottom: 5px;
  // border-bottom: 1px solid #EECDB5;
  transition: filter(2s);
  margin: 0px;
  top: -5px;
  transition: top 0.3s linear;
  left: 10px;
  @include for-phone-only {
    top: unset;
  }
}

.up {
  filter: blur(4px);
  top: -30px;
}

.down {
  top: 30px;
  filter: blur(4px);
}

#cost-text {
  min-width: 641px;
  @include for-large-devices-down {
    min-width: unset;
    & h1 {
      color: #0D1B26;
      font-size: 30px;
    }
    & img {
      height: 25px;
      padding-bottom: 3px;
    }

    & p {
      padding-top: 20px;
      color: #747B8A;
      font-weight: 300;
      font-size: 15px;
    }
  }
  @include for-phone-only {
    width: 100%;
  }
}

.first-section-text {
  width: 600px;
  position: relative;
  z-index: 10;
  padding: 20px;
  margin-bottom: 10vh;
  margin-right: -100px;

  @include for-medium-devices-down {
    margin-bottom: 0px;
    margin-right: 0px;
  }

  & h1 {
    color: #0D1B26;
    font-size: 50px;
  }

  @include for-phone-only {
    width: 100%;
    padding-left: 20px;


    & h1 {
      padding-top: 40px;
      font-size: 35px;
      width: 65%;
    }

  }
}

// END OF FIRST SECTION

.second-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  @include for-phone-only {
    display: block;
  }
}

.second-section-one {
  position: absolute;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 20px rgba(0,0,0,0.4);
  border-radius: 5px;
  background: #FFFFFF;
  padding: 16px 32px;
  h4 {
    @include for-small-devices-down {
      font-size: 14px;
    }
  }

  @include for-small-devices-down {
    width: 90vw;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.home-uk {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-right: 12px;
}

.second-section-two {
  display: flex;
  justify-content: space-around;
  padding: 100px 0;
  @include for-phone-only {
    h2 {
      font-size: 20px;
    }
  }
}

.second-section-two-text {
  display: flex;
  justify-content: space-around;
  @include for-small-devices-down {
    display: block;
  }
}

.second-section-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;

  @include for-small-devices-down {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    margin: 0 10px;
  }
}

.second-section-three {
  margin: 100px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  position: relative;
  z-index: 10;
  // background: linear-gradient(#FAFBFC, white);
  // background-color: white;
  height: 100%;

  &_svg {
    width: 300px;
    object-fit: cover;
    position: absolute !important;
    left: -120px;
    bottom: -95px;
    z-index: -1;
  }

  &_image {
    width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 45px 63px rgba(0,0,0,0.1);
    z-index: 10;
    @include for-medium-devices-up {
      width: 430px;
    }
    @include for-large-devices-up {
      width: 500px;
    }
  }

  &_image:last-child {
    margin-top: 100px;
  }

  @include for-medium-devices-down {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0px;

    &_image:last-child {
      margin-top: 100px;
      position: relative;
      z-index: 10;
    }

    &_svg {
      visibility: hidden;
    }
  }

  @include for-small-devices-down {

    &_image {
      width: 80vw;
    }

    &_svg {
      visibility: hidden;
    }
  }
}

// END OF SECOND SECTION

.third-section {
  padding: 50px 48px 0px;
  background: #2A2A2A;
  @include for-small-devices-down {
    padding: 50px 16px 0px;
  }
}

.coding-marking-text {
  position: absolute;
  text-align: center;
  top: 6%;
  left: 0;
  right: 0;
  padding: 0 20%;
  margin: 0;
}

.third-section-one {
  background: #1B1B1B;
  position: relative;
  top: -120px;
  padding: 32px 48px;
  border-radius: 8px;
  box-shadow: 0 14px 40px #000000;
  img {
    width: 100%;
    border-radius: 6px;
  }
  @include for-small-devices-down {
    width: 90vw;
    padding: 32px 24px;
  }
}

.third-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-section-features {
  padding-top: 150px;
  position: relative;
  // z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 100%;

  &_icon {
    width: 100px;
    height: auto;
  }

  & h2 {
    color: #0D1B26;
    padding-top: 20px;
    font-weight: 500;
    text-align: center;
    position: relative;
    z-index: 100;
  }

  @include for-small-devices-down {
    padding-top: 100px;
  }
}

.third-section-video {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  margin-top: 100px;
  margin-bottom: 250px;
  // overflow: hidden;



  @include for-medium-devices-down {
    justify-content: center;
    padding: 0;
    margin-top: 0;

  }

  @include for-small-devices-down {
    justify-content: center;
    height: 60vh;
    & img:nth-child(3) {
      width: 100px;
    }
  }
}

.tvid_img_1 {
  position: absolute;
  top: -550px;
  left: -250px;
  z-index: 1;
  opacity: 0.8;
  @include for-medium-devices-down {
    display: none;
  }
}

.tvid_img_2 {
  height: auto;
  width: 500px;
  position: absolute;
  bottom: -250px;
  right: 0px;
  z-index: 1;
  @include for-medium-devices-down {
    display: none;
  }
}

.tvid_img_3 {
  height: auto;
  width: 100px;
  position: absolute;
  bottom: -250px;
  left: 20px;
  z-index: 1;
  @include for-medium-devices-down {
    display: none;
  }
  @include for-small-devices-down {
    width: 100px;
  }
}

.shadowed {
  box-shadow: 0 45px 63px rgba(0,0,0,0.1);
}

.third-section-media {
  height: 100%;
  padding: 2% 5%;
  width: 80vw;
  background-color: white;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 45px 63px rgba(0,0,0,0.1);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    .ripple {
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
  @include for-medium-devices-down {
    height: 50vh;
    width: 85vw;
  }
  @media (max-width: 1800px) {
    padding: 2% 2%;
  }
}

.oneremmb {
  margin-bottom: 1rem;
}

.fxone_orange {
  height: 3rem;
}

.fxone_orange_image {
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0px;
  z-index: -1;
  width: 100%;
  @media (max-width: 1415px) {
    left: auto;
    right: auto;
  }
}

.third-section-media-lhs {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: relative;
  @media (max-width: 1662px) {
    width: 60%;
  }
  @media (max-width: 1415px) {
    width: 100%;
  }
}


.third-section-media-rhs {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  @media (max-width: 1662px) {
    width: 40%;
  }
  @media (max-width: 1415px) {
    display: none;
  }
}

.rhs-holder {
  margin-top: 3rem;
  p {
    margin-top: 1.5rem;
    color: #737B8B;
    font-size: 1.7rem;
    line-height: 3rem;
  }
}

.third-section-media-rhs-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  h2 {
    margin-bottom: 0px;
    padding-top: 0px;
    font-size: 3.5rem;
    margin-left: 1rem;
  }
}



@mixin rings($duration, $delay) {
    display: none;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 8px solid #FFB03A;
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}

.modal-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.modal-dialog {
  height: 70vh;
  width: 70vw;
  max-width: 1300px;
  margin: 0;
  pointer-events: initial !important;
  margin: 100px auto 0 auto;
  @include for-large-devices-down {
    height: 50vh;
  }
  @include for-medium-devices-down {
    height: 40vh;
    width: 80vw;
  }
  @include for-small-devices-down {
    height: 40vh;
    width: 90vw;
  }
  @include for-small-devices-down {
    height: 30vh;
    width: 90vw;
  }
}

.request-loader {
  display: none;
  position: relative;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background: #FFB03A;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.25);
  span {
    position: relative;
    font-size: 72px;
    top: 5px;
    left: -5px;
  }

  &::after {
    @include rings(3s, 0s);
  }

  &::before {
    @include rings(3s, 0.5s);
  }
}


@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5,1.5,1);
  }
}

#rel {
  top: -20px;
  left: -10px;
  height: 20px;
  width: 20px;
}

.third-video-text {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  z-index:10;

  & h3 {
    color: #0E1B26;

    & span {
      font-weight: 700;
      color: #E58C47;
    }
  }

  & p {
    color: #737A88;
  }

  @include for-large-devices-up {
    display: none;
  }
}

// END OF THIRD SECTION

.column-reverse {
  @include for-small-devices-down {
    flex-direction: column-reverse;
  }
}

.fourth-section {
  background: #2A2A2A;
  padding: 0px 48px 100px;
  @include for-small-devices-down {
    padding: 0px 0px 100px;
  }
}

.fifth-section {
  background: #2A2A2A;
  padding: 0px 48px 150px;
  @include for-small-devices-down {
    padding: 0px 0px 100px;
  }
}

.sixth-section {
  background: #2A2A2A;
  padding: 0px 48px 100px;
  @include for-small-devices-down {
    padding: 0px 0px 100px;
  }
}

.greyscale {
  filter: grayscale(1);
}

.seventh-section {
  background: #2A2A2A;
  padding: 0px 48px 0px;
  @include for-small-devices-down {
    padding: 0 16px;
  }
}

.eigth-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 48px 150px;
  @include for-small-devices-down {
    padding: 0px 16px 100px;
  }
}

.image-shadow {
  box-shadow: 2px 0 8px rgba(0,0,0,0.2);
}

.eigth-section-one {
  width: 100%;
  position: relative;
  top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 26px rgba(0,0,0,0.8);
  border-radius: 5px;
  background: #1B1B1B;
  padding: 24px 32px;
  @include for-small-devices-down {
    padding: 16px;
    top: -80px;
    h4 {
      font-size: 14px;
    }
  }
  & p {
    color: #747B89;
  }

  @include for-phone-only {
    width: 90vw;
  }
}

.fourth-section-features {
  z-index: 2;
  width: 100vw;
  // height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw 100px 10vw;
  max-width: 1500px;
  // background-color: #F4F6F8;

  @include for-large-devices-down {
    padding: 0 5vw 100px 5vw;
  }

  @include for-medium-devices-down {
    flex-direction: column;
    align-items: center;
    text-align: center;
    // height: 100vh;
  }

  @include for-small-devices-down {
    // height: 140vh;
  }
}

.fourth-section-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 460px;

  & h2 {
    color: #0E1B26;
    padding: 30px 0;
  }

  & p {
    color: #7D8390;
    line-height: 35px;
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 40px;
    @include for-small-devices-down {
      font-size: 16px;
    }
  }

  @include for-medium-devices-down {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
  }

  @include for-small-devices-down {
    width: 80vw;
  }
}


.fourth-section-grid {
  // background-color: blue;
  // width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  overflow: visible;

  @include for-large-devices-down {
    // width: 480px;
    grid-gap: 25px;
  }

  @include for-medium-devices-down {
    // width: 50vw;
    // height: 100%;
    grid-gap: 30px;
  }

  @include for-small-devices-down {
    // width: 50vw;
    // height: 100%;
    grid-gap: 20px;
    padding-bottom: 50px;
  }

  @include for-phone-only {
    // width: 90vw;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

.industries-card {
  height: 200px;
  width: 160px;
  background: #FFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
  box-shadow: 0px 8px 30px rgba(149, 156, 169, 0.30), -1px -1px 30px rgba(156, 173, 198, 0.30);
  &:hover {
    box-shadow: 0px 8px 5px rgba(149, 156, 169, 0.25), -1px -1px 10px rgba(156, 173, 198, 0.30);
  }
  p {
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }
  img {
    width: 80%;
  }
  @include for-large-devices-down {
    width: 143px;
    height: 190px;
  }
  @include for-medium-devices-down {
    width: 160px;
    height: 200px;
  }
  @include for-medium-devices-down {
    width: 143px;
    height: 190px;
  }
}

.industries-card-image-container {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cookie-bar {
  position: fixed;
  bottom: -200px;
  z-index: 1000;
  padding: 0 20px;
  height: 80px;
  width: 100%;
  // background-color: #FFB03A;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  @include for-phone-only {
    height: 120px;
  }
}

// .corner {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 15px;
//   width: 15px;
//   background: linear-gradient(to bottom right, #FFB03A 50%, #FFF 50%);
// }

.home-slant-1 {
  position: absolute;
  top: -1130px;
  height: 3660px;
  width: 100%;
}

.home-slant-2 {
  position: absolute;
  top: 1280px;
  height: 3660px;
  width: 100%;
}

.home-outline-pill-1 {
  position: absolute;
  // width: 1010px;
  top: -500px;
  left: -250px;
  @include for-medium-devices-down {
    display: none;
  }
}

.home-outline-pill-2 {
  position: absolute;
  width: 1010px;
  top: -80px;
  right: -560px;
  transform: rotate(-12deg);
  @media only screen and (min-width: 992px) {
    transform: rotate(-12deg);
  }
  @media only screen and (min-width: 1042px) {
    transform: rotate(-11deg);
  }
  @media only screen and (min-width: 1092px) {
    transform: rotate(-10deg);
  }
  @media only screen and (min-width: 1142px) {
    transform: rotate(-9deg);
  }
  @media only screen and (min-width: 1192px) {
    transform: rotate(-8deg);
  }
  @media only screen and (min-width: 1242px) {
    transform: rotate(-7deg);
  }
  @media only screen and (min-width: 1292px) {
    transform: rotate(-6deg);
  }
  @media only screen and (min-width: 1342px) {
    transform: rotate(-5deg);
  }
  @media only screen and (min-width: 1392px) {
    transform: rotate(-4deg);
  }
  @media only screen and (min-width: 1442px) {
    transform: rotate(-3deg);
  }
  @media only screen and (min-width: 1492px) {
    transform: rotate(-2deg);
  }
  @media only screen and (min-width: 1542px) {
    transform: rotate(-1deg);
  }
  @media only screen and (min-width: 1592px) {
    transform: rotate(0deg);
  }
  @media only screen and (min-width: 1642px) {
    transform: rotate(1deg);
  }
  @media only screen and (min-width: 1692px) {
    transform: rotate(2deg);
  }
  @media only screen and (min-width: 1742px) {
    transform: rotate(3deg);
  }
  @media only screen and (min-width: 1792px) {
    transform: rotate(4deg);
  }
  @include for-medium-devices-down {
    display: none;
  }
}

.fxone_orange {
  height: 45px;
}

.fxone_orange_small {
  height: 28px;
  padding-bottom: 5px;
  padding-right: 3px;
}

.tabs-pill {
  position: absolute;
  width: 1000px;
  left: 560px;
  bottom: 130px;
  @include for-xlarge-devices-up {
    width: 1100px;
    left: 610px;
    bottom: 70px;
  }
  @include for-xxlarge-devices-up {
    width: 1330px;
    left: auto;
    right: -1000px;
    bottom: 30px;
  }
  // top: -530px !important;
  // right: -860px !important;
  // @media (max-width: 1100px) and (min-width: 1000px) {
  //   width: 450px;
  // }
  // @media (max-width: 1200px) and (min-width: 1100px) {
  //   width: 550px;
  // }
}

.cookie-bar-content {
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  position: relative;
  background-color: #FFF;
  height: 40px;
  padding: 0 70px;
  // width: 50%;
  border-radius: 10px;
  p {
    font-size: 14px;
  }
  @include for-phone-only {
    height: 70px;
    p {
      font-size: 12px;
    }
  }
}

.cookie-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  img {
    width: 20px;
  }
}

