.job-content {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  @include for-phone-only {
    padding: 16px;
  }
}

.job-content-left {
  p, i {
    color: #717B8D;
  }
  @include for-phone-only {
    margin: 40px 0;
  }
}

.apply-now-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: #F3A300;
  border-color: #F3A300;
  color: #FFF;
  font-size: 14px;
}

.apply-now-section {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
  p {
    color: #717B8D;
  }
  @include for-phone-only {
    flex-direction: column;
    .apply-now-button {
      margin-top: 20px;
    }
  }
}

.job-social-links {
  a {
    text-decoration: none;
    &:hover {
      i {
        color: #253446;
      }
    }
  }
}

.jobs-wrapper {
  li {
    color: #717B8D;
  }
}

.trix-text {
  margin: 10px 0;
  div {
    color: #717B8D;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Gilroy-Medium' !important;
  }
}
