.video-card {
  background-size: cover;
  background-position: center;
  height: 44vh;
  margin-bottom: 24px;
  box-shadow: 0 35px 63px rgba(24,29,52,0.1)
}

.bp168 {
  background-position-y: -168px;
}
