.fxone-standard-slant {
  position: absolute;
  width: 100%;
  top: -21vh;
  @include for-phone-only {
    top: -90px;
  }
}

.fxone-standard-block {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 90%;
  @include for-small-devices-up {
    height: 80%;
  }
  @include for-medium-devices-up {
    height: 65%;
  }
  @include for-large-devices-up {
    height: 50%;
  }
  @include for-xlarge-devices-up {
    display: none;
  }
}

.fxone-stand-dots {
  top: -4vmin;
  width: 15vw;
}

.fxone-standard {
  .fxone-third-section-wrapper {
    padding-bottom: 50px;
  }
  .fxone-fourth-section-wrapper {
    position: relative;
  }
  .fxone-section {
    @include for-phone-only {
      flex-direction: column;
    }
  }
}

.fxone-standard-big-pill {
  @include for-phone-only {
    top: -50px;
  }
}

.fxone-standard-back {
  padding-bottom: 0px;
}

.dark-carousel {
  .carousel-control-prev, .carousel-control-next {
    background: #1B1B1B;
    i {
      color: #FFFFFF;
    }
  }
  .carousel-indicators li {
    background-image: linear-gradient(to bottom right, #C3C3C3, #000000 70%)
  }
}

.standard-tech-specs {
  background: #F3F3F3;
  box-shadow: none;
}


.fx-standard-border {
  border: 1px solid #686868;
}

.main-img-width {
  width: 50%;
  @include for-medium-devices-down {
    width: 75%;
  }
}

.pos-top-right {
  right: 16px !important;
  top: 16px !important;
  bottom: unset !important;
}






































