<div class="top-bar">
  <p class="m-0 bold mr-3 mr-xl-5"><%= t("navbar.bar") %></p>
  <%= link_to cost_of_ownership_path, class: 'link-orange' do %>
    <p class="text-orange mb-0">Learn more <i class="fas fa-arrow-right ml-2"></i></p>
  <% end %>
  <div class="bar-close">
    <i class="far fa-times-circle"></i>
  </div>
</div>
