.navbar-foenix {
  display: flex;
  // width: 100%;
  justify-content: space-between;
  padding: 24px;
  height: 80px;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  //added this to account for gradient background in home-page
  // position: absolute;
  // z-index: 10000;
  //end of c

  @include for-medium-devices-down {
    box-shadow: none;
    padding: 0 40px 0 20px;
    border-radius: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
  }

  @include for-phone-only {
    padding: 0 20px;
  }
}
.navbar-wrapper {
  // padding: 48px 48px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  @include for-medium-devices-down {
    padding: 0;
  }
}

.nav-pt {
  padding-top: 180px !important;
  @include for-medium-devices-down {
    padding-top: 80px !important;
  }
}

.nav-pt-bg {
  background: #2A2A2A;
}

.plus-nav-pt-bg {
  background: #1B1B1B;
}

.dark-nav,  {
  // background: #2A2A2A;
  .navbar-item:hover a, i {
    text-decoration: none;
    color: #FFFFFF !important;
  }
  .dropdown-menu-ul li:hover {
    background-color: #353535;
  }
  .printers-text-container:hover {
    background: #353535;
  }
  .nav-demo i {
    color: #FF7A00 !important;
  }
  .navbar-foenix {
    background: #2A2A2A;
    border: 2px solid #535353;
    a, i {
      color: #FFFFFF;
      &:hover {
        color: #FF7A00 !important;
        i {
          color: #FFFFFF;
        }
      }
    }
    @include for-medium-devices-down {
      border: none;
      background: transparent;
    }
  }
  .dropdown-menu {
    background: #2A2A2A;
    box-shadow: none;
    border: 2px solid #535353;

    .printers-menu {
      background: #2A2A2A !important;
    }
    .navbar-dropdown-item-active {
      background: #444444 !important;
    }
    .navbar-dropdown-item-active span {
      color: #FF7A00 !important;
    }
  }
}

.mb-dark-nav {
  #mobile-links {
    background-color: #1B1B1B !important;
    li, a, p {
      color: #FFFFFF !important;
    }
    .printers-text-container:hover {
      background: unset !important;
    }
    .printers-menu {
      background: #1B1B1B !important;
    }
  }
}

.plus-nav {
  // background: #1B1B1B;
  .navbar-item:hover a, i {
    text-decoration: none;
    color: #FFFFFF !important;
  }
  .dropdown-menu-ul li:hover {
    background-color: #353535;
  }
  .printers-text-container:hover {
    background: #353535;
  }
  .navbar-foenix {
    background: #1B1B1B;
    border: 1px solid #353535;
    a, i {
      color: #FFFFFF;
      &:hover {
        color: #FFFFFF;
        i {
          color: #FFFFFF;
        }
      }
    }
    @include for-medium-devices-down {
      border: none;
    }
  }
  .dropdown-menu {
    background: #1B1B1B;
    .printers-menu {
      background: #1B1B1B !important;
    }
    .navbar-dropdown-item-active {
      background: #444444 !important;
    }
    .navbar-dropdown-item-active span {
      color: #FFFFFF !important;
    }
  }
}

.my10 {
  margin: 10px 0 !important;
}

.navbar-title {
  color: #051B28;
  font-size: 14px;
  &:after {
    display: block;
    content: '';
    border-bottom: solid 2px $orange;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
  }
  &:hover:after {
    transform: scaleX(1);
  }
}

.navbar-title-underline {
  &:after {
    display: block;
    content: '';
    border-bottom: solid 2px #DFA740;
    transform: scaleX(1);
  }
}

.navbar-dropdown-item-active {
  background-color: #F6F9FC;
  a {
    color: #FF7A00 !important;
  }
  span {
    color: #FF7A00 !important;
  }
}

.navbar-lang-link {
  display: inline-block;
  color: #051B28;
  font-size: 14px;
  // background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  @include for-small-devices-down {
    left: 0;
  }
}

.nav-spacer {
  height: 80px;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .mid-screen-min {
//   @include for-small-devices-up {
//     width: 450px;
//   }
// }

.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 200px;
}

// .nav-right {
//   margin-left: 40px;
// }

.navbar-logo {
  width: 40px;
}

.small-chevron {
  font-size: 0.7rem;
}

.navbar-item {
  &:hover {
    a {
      text-decoration: none;
      color: #474747;
    }
    i {
      color: #474747;
    }
  }
}

.req-demo:hover {
  i {
    color: inherit !important;
  }
}

.hidden-desktop {
  @include for-large-devices-up {
    display: none;
  }
}

.hidden {
  @include for-medium-devices-down {
    display: none;
  }
}

#mobile-navbar {
  font-size: 28px;


  display: none;

  @include for-medium-devices-down {
    display: block;
  }
}

#mobile-menu {
  visibility: hidden;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.0);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s;
}

#mobile-links {
  border-radius: 10px;
  width: 400px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  z-index: 100000;
  top: -150px;
  transition: top 0.5s;
  display: flex;
  align-items: flex-start;
  height: 95vh;
  // overflow: scroll;


  & ul {
    list-style-type: none;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;

    & img {
      padding-right: 20px;
      width: 50px;
      height: auto;
      border-radius: 3px;

      @include for-xsmall-phone-only {
        width: 40px;
      }
    }
  }

  & li {
    max-width: 100%;
    & a {
      color: #7F8488;

      &:hover, :active {
        color: #474747;
        text-decoration: none;
      }
    }
  }

  @include for-small-devices-down {
    width: 90vw;
  }

  @include for-small-devices-down {
  }

  @include for-xsmall-phone-only {
    top: -200px;
  }
}

#mobile-links .closebtn {
  position: absolute;
  top: 0px;
  right: 12px;
  font-size: 26px;
  margin-left: 50px;
  color: #474747;
  &:hover {
    text-decoration: none;
    color: #EF9761;
  }

  &:active {
    outline: none;
    border: 0;
  }
}

.each-mobile-link {
  padding-bottom: 10px;
  a {
    font-size: 14px;
  }
}

.printers-menu {
  background: #FFF;
  flex-direction: column !important;
  @include for-medium-devices-down {
    width: 100%;
    // margin: 0 0 20px 35px;
    padding: 0;
    border-radius: 10px;
    .printers-text-container {
      padding: 0 16px !important;
    }
    .printers-text {
      padding-left: 0px !important;
      margin: 4px 0 !important;
    }
  }
  &:hover {
    background: #FFF !important;
  }
}

.printers-text {
  font-size: 12px !important;
  margin: 10px 0 !important;
  font-family: 'Gilroy-Regular' !important;
}

.printers-text-container {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px !important;
  &:hover {
    background: #F6F9FC;
  }
  i {
    font-size: 12px;
  }
}

.first-web-link {
  padding-left: 10px;
  font-size: 14px;
  color: #7F8488;
  cursor: default;
  &:hover {
    color: #474747;
  }
}

.first-mobile-link {
  color: #7F8488;
  font-size: 14px;
  padding-bottom: 5px;
}

.top-bar {
  height: 40px;
  background: blue;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: linear-gradient(to right, #D67F7A 26%, #F6DE9F);
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 12px !important;
  }
  .bar-close {
    cursor: pointer;
    position: absolute;
    right: 6px;
  }
  @include for-medium-devices-down {
    display: none;
  }
}
